= form_with(model: product, local: true) do |form|
  - if product.errors.any?
    #error_explanation
      h2
        = "#{ pluralize(product.errors.count, "error") } prohibited this product from being saved:"
    ul
      - product.errors.full_messages.each do |message|
        li = "#{message}"

  table.table.col-7
    tbody
      tr
        td
          = form.label 'Product Name', class: 'form-control text-right'
        td colspan='2'
          = form.text_field :name, class: 'form-control', disabled: !(can? :create, Product)
      tr
        td
          = form.label 'Product package', class: 'form-control text-right'
        td colspan='2'
          = form.text_field :package, class: 'form-control', disabled: !(can? :create, Product)
      tr
        td
          = form.label :manufacturing_date, class: 'form-control text-right'
        td
          = form.text_field :manufacturing_date, class: 'form-control', disabled: !(can? :production_update, Product), value: date_format(@product.manufacturing_date)
      tr
        td
          = form.label :product_code, class: 'form-control text-right'
        td
          = form.text_field :product_code, class: 'form-control', disabled: !(can? :production_update, Product)
      tr
        td
          = form.label 'Application', class: 'form-control text-right'
        td
          = form.text_area :description, class: 'form-control', disabled: !(can? :create, Product)
      tr
        td
          = form.label :data_sheet_url, class: 'form-control text-right'
        td
          = form.text_field :data_sheet_url, class: 'form-control col-12', disabled: !(can? :create, Product)
      tr
        td
          = form.label :safety_sheet_url, class: 'form-control text-right'
        td
          = form.text_field :safety_sheet_url, class: 'form-control col-12', disabled: !(can? :create, Product)
  .form-group.row
    .col-3
    .col-2
      = form.submit 'Save', class: 'btn btn-lg btn-success pull-right'
    .col-2
      = link_to 'Cancel', products_path, class: 'btn btn-lg btn-warning pull-right'

- if (can? :production_update, Product)
  javascript:
    $(function () {
      $('#product_manufacturing_date').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd/mm/yyyy'
     });
    });
