.container
  .row
    .col-4
      - if @product.complete?
        img.qr-code.img-responsive src="#{ generate_qr(@product) }"
    .col-8
      .row
        .col-4
          strong Name:
        .col-8
          = @product.name
        .col-4
          strong Product package:
        .col-8
          = @product.package
        .col-4
          strong Manufactured date:
        .col-8
          = date_format @product.manufacturing_date
        .col-4
          strong Product code:
        .col-8
          = @product.product_code
        .col-4
          strong Application:
        .col-8
          = @product.description
        .col-12.my-2
          = link_to 'Product Data Sheet', @product.safety_sheet_url, target: '_blank'
        .col-12
          = link_to 'Material Safety Sheet', @product.safety_sheet_url, target: '_blank'
